<footer class="site-footer">

  <div class="social">
    <div class="content">
      <a href="https://plus.google.com/u/0/+JeremiasPereira/about" target="_brank" title="Google +"> <i class="fa fa-google-plus"></i></a>
      <a href="https://twitter.com/jeremiastpe" target="_brank" title="Twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.flickr.com/photos/jeremiaspereira" target="_brank" title="Flickr"><i class="fa fa-flickr"></i></a>
      <a href="https://br.linkedin.com/in/jeremiaspereira" target="_brank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="https://instagram.com/jeremias_pereira/" target="_brank" title="Instagram"><i class="fa fa-instagram"></i></a>
      <a href="https://github.com/jeremiaspereira/" target="_brank" title="GitHub"><i class="fa fa-github"></i></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_brank" title="RSS"><i class="fa fa-rss"></i></a>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55162542-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">

    var url = window.location.pathname;
    if(url == "/tags/"){
      document.getElementById("menu-tag").className = "active-menu";
    } else if(url == "/sobre/"){
      document.getElementById("menu-sobre").className = "active-menu";
    } else if(url == "/portfolio"){
      document.getElementById("menu-portifolio").className = "active-menu";
    }
  </script>



</footer>
