<header class="site-header">
  <div class="conteudo-header">
    <div class="site-title">
      <a  href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="menu-paginas">
      <a  href="{{ site.baseurl }}/sobre" id="menu-sobre"> sobre</a>
      <span class='divisoria-menu'>/</span>
      <a href="{{ site.baseurl }}/portfolio" id="menu-portifolio"> portifólio</a>
      <span class='divisoria-menu'>/</span>
      <a href="{{ site.baseurl }}/tags" id="menu-tag"> tags</a>
      <!--{% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}-->
    </div>
  </div>
  <div id="icon-motivation"><i class="fa fa-bolt"></i>

</div>
  <div id="motivation"></div>
</header>
