<header class="site-header">
    <a  href="{{ site.baseurl }}/">
      <div class="logo"></div>
    </a>

    <div class="site-title">
      <a  href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="menu-paginas">
      <a  href="{{ site.baseurl }}/sobre"> SOBRE</a>
      <a href="{{ site.baseurl }}/portfolio/"> PORTFÓLIO</a>
      <a href="{{ site.baseurl }}/tags/"> TAGS</a>
      <!--{% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}-->
    </div>
</header>
