/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: bold;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

html {
  font-size: 58%;
  @media (min-width: $screen-xs-max){ font-size: 60%; }
  @media (min-width: $screen-sm-max){ font-size: 62.5%; }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p{
  padding-top:15px;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-style: normal;
  font-weight: 300;
}

h2 {
  font-size: 1.9em;
  line-height: 1.3em;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  line-height: 1.9em;
  font-weight: 300;
}

h4 {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 300;
  color:lighten($text-color, 20);
}


h5 {
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 300;
}

h6{
  text-align: center;
  line-height: 2.5em;
   font-size: 1em;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color , 2%);
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 14px;
    letter-spacing: 0px;
    font-style: italic;
    margin: 20px 0px;

    > :last-child {
        margin-bottom: 0;
    }

    > p{
      padding-top: 0;
    }
}

hr{
  margin:25px 0;
  border: 0;
  height: 1px;
  background: #ddd;

}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Wrapper
 */
.wrapper {
    margin-top: 90px;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    margin-left:auto;
    margin-right: auto;

    @extend %clearfix;
}

a[name] {
  padding-top: 100px;
  margin-top: -100px;
  display: inline-block; /* required for webkit browsers */
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



