@charset "utf-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Comfortaa";
  src: url(../assets/fonts/Comfortaa/Comfortaa_Regular.ttf);
  font-weight: bold;
}


/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  font-weight:500;

  @media (max-width: $screen-xs-max) {
      font-size: 16px;
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p{
  padding-top:10px;
  line-height:1.58;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Lists
 */
ul, ol {
    margin:0;
}

li {
  list-style: none;
   margin: 0;
}

/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Open Sans';
  font-weight: normal;
}

 h1 {
    font-size: 1.6em;
}

 h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: $spacing-unit / 2;
}

h3{
  font-size: 1.0em;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color , 2%);
        text-decoration: none;
    }
}


hr{
 margin:20px 0px 10px 0;
 border: 0;
  border-bottom: double medium #D8D7D7;
  background: #FFFFFF;
}

/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-center{
  text-align: center;
}

blockquote {
    border-left: 4px solid $brand-color;
    padding-left: $spacing-unit / 2;
    font-size: .9em;
    letter-spacing: 0px;
    font-style: italic;
    margin: 20px 0px;

    > :last-child {
        margin-bottom: 0;
    }

    > p{
      padding-top: 0;
    }
}

em{
  font-style:normal;
  font-weight:bold;
  padding:5px 0;
  display:block;
  color: lighten($text-color, 1%);
  letter-spacing: 1px;
}

code {
  display:block;
  border:solid 1px #ddd;
  border-top:solid 5px #ddd;
  padding-bottom:25px;
  margin:15px 0;
  background:#F9F9F9;
  overflow: auto;
}




/*************************************************************
// Grids
**************************************************************/


* {
    box-sizing: border-box;
}

$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: $content-width;


[class*="grid-"] {
  float: left;
  padding: 0 $grid-gutter;
}

@for $i from 1 through $grid-columns{
  .grid-md-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

 @media (max-width: $screen-sm-max) {
  @for $i from 1 through $grid-columns{
    .grid-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
}
}

.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}

.img-instagram{
 padding: 5px 0;
}
