@charset "utf-8";
// header
.site-header {
  position: fixed;
  z-index: 10;
  width:100%;
  padding: 10px;

  a { color:#272727; }

  @include modifier(page){
    border-bottom:solid 1px #ddd;
    background:#fff;
  }
}

.animated.slideUp { transform: translateY(-100%); }

.animated.slideDown { transform: translateY(0px); }

.animated {
  transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  will-change: transform;
}

.main-menu {
  align-content: center;
  align-items: center;
  display: flex;
  padding:0 5%;

  @include element(logo) {
    display: inline-table;
    font-family: 'Comfortaa';
    font-size:1.6em;
    letter-spacing: .1em;

    &:hover { opacity:0.8; }
  }

  @include element(action) {
    margin-left: auto;
    display: block;

    li {
      margin:0 5px;
      padding:0 2px;
      display: inline-table;
      font-family: 'Raleway', 'Open Sans';
      font-size:.8em;
      letter-spacing: .1em;
      font-weight:500;
      border-bottom:none;

      &:hover {
        transition: all 0s ease-in-out .3s;
        border-bottom: 1px solid #272727;
      }
    }

    .active{
      transition: all 0s ease-in-out .3s;
      border-bottom: 1px solid #272727;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .site-header {
    background:#fff;
  }

  .main-menu {
    padding: 0 10px;

    @include element(logo) { font-size:1.4em; }
   }
}

@media (max-width: $screen-xs-max) {
  .main-menu {
    display:block;
    text-align:center;

    @include element(logo) { font-size:1.4em; }
  }
}

@media (max-width: $content-width) {
  .main-menu {
    width:95%;
    padding:0;
    margin:auto;
  }
}

/* Content
   ========================================================================== */

.content {
  margin-bottom:-50px;
  color: #3b3b3b;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 1;
  background:#fff;
}

.inner-content {
  width: $content-width;
  margin:0 auto;
  padding:0 50px;
}

@media (max-width: $content-width) {
  .inner-content {
    width:95%;
    padding:0 10px;
  }
}

/* Home
   ========================================================================== */

.bg-home{
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity:0.9;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: 1;
}

.home {
  position:relative;
  z-index:2;
}

.slice-home {
  text-align: center;
  padding:70px 0;
  color:#fff;
}


/**
  * link para sobre
*/

.slice-home__sobre {
  background-image:url('../assets/img/bg-blue.gif');
  font-size:1.5em;

  a { color:#fff; }

  .link-sobre {
    margin-top: 50px;
  }
}


/**
  * Últimos posts
*/

.slice-home__blog {
  background:#7a8b9d;

  .post-list {
    margin-top:30px;

    li{
      text-align:center;
      padding-bottom:20px;
    }

    a {
      font-size:1.0em;
      color: #fff;

      &:hover{
        color: #C7C3C3;
      }
    }

    .post-list__date{
      border-bottom:solid 1px #E9E9E9;
      display:table-cell;
      padding:0px 10px 5px 10px;
      font-size:.8em;
    }

   .post-list__title{
      text-align:center;
      font-weight:500;
    }
  }
}

/**
  * Social
*/

.social-icons  {
  li {
    display:inline-block;
    padding:0 10px;
  }

  a {
    color:#fff;
    font-size:1.5em;

    &:hover{
      i { transition: all .2s ease-in-out .1s; }

      .fa-facebook { color:$facebook; }

      .fa-google-plus { color:$google-plus; }

      .fa-github { color:$github; }

      .fa-instagram { color: $instagram; }

      .fa-twitter { color: $twitter; }

      .fa-linkedin { color:$linkedin; }

      .fa-flickr { color:$flickr; }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .social-icons li { padding:0 5px; }
}

.slice-home__social { background:#9D9090; }

/* Home
   ========================================================================== */

.footer {
  text-align:center;
  padding:10px 0 2px 0;
  background:#353434;
  p {
    color:#fff;
    line-height: 1;
    font-size:0.7em;
    letter-spacing:0.2em;
  }
}

/* Blog
   ========================================================================== */

.blog {
  padding-top: 100px;
  padding-bottom:50px;
  margin:0 auto;

  li { margin:15px 0;}

  h1 {
    font-weight:600;
    color:#4C4C4C;
    margin-bottom:0;
  }

  h3 { color: $text-color; }

  .blog__post-date {
    font-size:.8em;
    color: #979797;
    padding-bottom: 8px;
  }
}

/* Blog post
   ========================================================================== */

.blog-post {
  padding-top: 110px;

  .blog-post__date{
    font-size:0.8em;
    color: lighten($text-color, 30%);
  }

  h1{
    font-weight:700;
    color:#4C4C4C;
    padding-bottom: 17px;
  }

  h2 {
    margin:20px 0;
    font-weight:600;
    color:#4C4C4C;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  li{
    padding-left: 33px; ;
    margin-bottom:10px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  li::before {
    font-size: 22px;
    margin-top: -4px;
    padding-right: 13px;
    content: "•";
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 78px;
    margin-left: -78px;
    text-align: right;
  }

  .codepen {
    margin: 20px 0;
  }
}


/* Sobre
   ========================================================================== */

  .sobre {
    padding-top:120px;
    color:#3C3B3B;
    margin: 0px auto 50px auto;

    -webkit-box-shadow: 0px 0px 72px -200px rgba(247,247,247,1);
    -moz-box-shadow: 0px 0px 72px -200px rgba(247,247,247,1);
     box-shadow: 0px 0px 72px -200px rgba(247,247,247,1);

    @include element(img) {
      width:180px;
      border-radius: 100%;
      margin-left:auto;
      margin-bottom: -100px;
      margin-right: auto;
      display:block;
    }

    @include element(text){
      background:#F4F4F4;
      padding:120px 50px 50px 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }


    @include element(social) {
      background:#F4F4F4;

      li { padding:30px 10px 0 0; }

      a {
        color:#77AEEB;
        font-size:1.4em;
      }
    }

     @include element(info) {
      padding:25px 50px 50px 50px;
      background:#FAFAFA;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      h3{
        margin-top:25px;
        font-weight:600;
      }

      .item,
      .tags {
        padding-left: 30px;
      }

      b {
        color:lighten($text-color, 10%);
        font-weight:600;
      }

      p {
       margin-bottom: 0px;
       padding-top: 5px;
      }

      .tags{
        span {
          border-radius: 3px;
          padding: 0 5px;
          color:#fff;
          margin-bottom:3px;
          display:inline-table;
          font-size:.8em;
          line-height:150%;
          background: #99C0F6;
        }
      }

      .conhecimentos  i{ color: #2AF8AD; }

      .formacao  i { color: #00BCD4;}

      .experiencia  i {color: #8F8E8E;}

      .interesses i { color: #F2A5A5;}

      .freelas i { color:#795548; }
    }

     @media (max-width: $screen-sm-max) {

      @include element(img) {
        width:150px;
        margin-bottom:-75px;
      }

      @include element(info) {
        padding:100px 35px 35px 35px;
      }
        @include element(text) {
        padding:100px 35px 35px 35px;
      }
    }

    @media (max-width: $screen-xs-max) {
      @include element(img) {
        margin-left:auto;
        margin-right: auto;
        display:block;
        width:120px;
        margin-bottom: -60px;
      }

      @include element(info) {
        padding:70px 15px 15px 15px;
      }

      @include element(text) {
        padding:70px 15px 15px 15px;
      }


      @include element(social) {
        text-align:center;

        li { padding: 20px 5px; }
      }
    }
  }


.diamond {
  width:46px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin:30px  auto 0 auto;


  li{
    height:1px;
    background:#fff;
  }


  .d-0{
    width: 2px;
    margin:5px 24px;
  }

   .d-1{
    width: 10px;
    margin:5px 20px;
  }

  .d-2{
    width: 20px;
    margin: 5px 15px;
  }

  .d-3{
    width: 30px;
    margin: 5px 10px;
  }

  .d-4{
    width: 20px;
    margin: 5px 15px;
  }

  .d-5{
    width: 10px;
    margin:3px 20px;
  }

  .d-6{
    width: 2px;
    margin:5px 24px;
  }


  &:hover {
    .d-1, .d-5 {
      background:#FCDDAB;
      transition: all .2s ease-in-out .1s;
    }

    .d-2,.d-4 {
      background:#FBCC7F;
      transition: all .2s ease-in-out .2s;
    }

    .d-3 {
      background:#FFBA4B;
      transition: all .2s ease-in-out .3s;
    }

     .d-0, .d-6 {
      background:#FBE3BD;
      transition: all .2s ease-in-out .1s;
    }
  }
}

$c-tri: #202020;

.triangle {
  width:46px;
  margin:0 auto;


  li{
    height:1px;
    background:#fff;
  }

  .t-0{
    width: 36px;
    margin: 5px 7px;
  }

  .t-1{
    width: 20px;
    margin: 5px 15px;
  }

  .t-2{
    width: 10px;
    margin:3px 20px;
  }


  &:hover {
    .t-0 {
      background: lighten($c-tri, 10%);
      transition: all .2s ease-in-out .1s;
    }

    .t-1 {
      background: lighten($c-tri, 20%);
      transition: all .2s ease-in-out .15s;
    }

    .t-2 {
       background: lighten($c-tri, 30%);
      transition: all .2s ease-in-out .20s;
    }
  }
}