@charset 'utf-8';
// header
.site-header {
  @include modifier(page) {
    background: $c-white;
    border-bottom: solid 1px $c-gray;
  }

  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 10px;

  a {
    color: $c-header;
  }
}

.animated {
  transition: transform 1s cubic-bezier(.55, .085, 0, .99) 0s, -webkit-transform 1s cubic-bezier(.55, .085, 0, .99) 0s;
  will-change: transform;

  &.slide-up {
    transform: translateY(-100%);
  }

  &.slide-down {
    transform: translateY(0);
  }
}

.main-menu {
  @include element(logo) {
    display: inline-table;
    font-family: 'Comfortaa';
    font-size: 1.6em;
    letter-spacing: .1em;

    &:hover {
      opacity: .8;
    }
  }

  @include element(action) {
    display: block;
    margin-left: auto;

    li {
      display: inline-table;
      padding: 0 2px;
      margin: 0 5px;
      font-family: 'Raleway', 'Open Sans';
      font-size: .8em;
      font-weight: 500;
      letter-spacing: .1em;
      border-bottom: 0;

      &:hover {
        border-bottom: 1px solid $c-header;
        transition: all 0s ease-in-out .3s;
      }
    }

    .active {
      border-bottom: 1px solid $c-header;
      transition: all 0s ease-in-out .3s;
    }
  }

  display: flex;
  padding: 0 5%;
  align-content: center;
  align-items: center;
}

@media (max-width: $screen-sm-max) {
  .site-header {
    background: $c-white;
  }

  .main-menu {
    @include element(logo) {
      font-size: 1.4em;
    }

    padding: 0 10px;
  }
}

@media (max-width: $screen-xs-max) {
  .main-menu {
    @include element(logo) {
      font-size: 1.4em;
    }

    display: block;
    text-align: center;
  }
}

@media (max-width: $content-width) {
  .main-menu {
    width: 95%;
    padding: 0;
    margin: auto;
  }
}

/* Content
   ========================================================================== */

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0;
  margin-bottom: -50px;
  background: $c-white;
}

.inner-content {
  width: $content-width;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: $content-width) {
  .inner-content {
    width: 95%;
    padding: 0 10px;
  }
}

/* Home
   ========================================================================== */

.bg-home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;

  will-change: transform;
}

.home {
  position: relative;
  z-index: 2;
}

.slice-home {
  padding: 70px 0;
  color: $c-white;
  text-align: center;
}


/**
  * link para sobre
*/

.slice-home__sobre {
  font-size: 1.5em;
  background-image: url('../assets/img/bg-blue.gif');

  a {
    color: $c-white;
  }

  .link-sobre {
    margin-top: 50px;
  }
}


/**
  * Últimos posts
*/

.slice-home__blog {
  background: #7a8b9d;
  padding: 80px 0;
  text-align: center;

  a {
    font-size: 1.0em;
    color: $c-white;

    &:hover {
      color: #c7c3c3;
    }
  }

  .post-list__date {
    display: table-cell;
    padding: 0 10px 5px;
    font-size: .8em;
    border-bottom: solid 1px #e9e9e9;
  }

  .post-list__title {
    font-weight: 500;
    text-align: center;
  }
}

/**
  * Social
*/

.social-icons {
  li {
    display: inline-block;
    padding: 0 10px;
  }

  a {
    font-size: 1.5em;
    color: $c-white;

    &:hover {
      i {
        transition: all .2s ease-in-out .1s;
      }

      .fa-facebook {
        color: $facebook;
      }
      .fa-google-plus {
        color: $google-plus;
      }
      .fa-github {
        color: $github;
      }
      .fa-instagram {
        color: $instagram;
      }
      .fa-twitter {
        color: $twitter;
      }
      .fa-linkedin {
        color: $linkedin;
      }
      .fa-flickr {
        color: $flickr;
      }
      
      .fa-dribbble {
        color: $dribbble;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .social-icons li {
    padding: 0 5px;
  }
}

.slice-home__social {
  background: #9d9090;
}

/* Home
   ========================================================================== */

.footer {
  padding: 4px 0 2px 0;
  text-align: center;
  background: #353434;
  p {
    font-size: .7em;
    line-height: 1;
    letter-spacing: .2em;
    color: $c-white;
  }
}


/* Category Blog
   ========================================================================== */

.category {
  a {
    margin-right: 7px;
    float: right;
  }

  span {
    display: inline-block;
    border-bottom: solid 1px #eee;
  }
}


/* Blog
   ========================================================================== */

.blog {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
  li {
    margin: 15px 0;
  }

  h1 {
    margin-bottom: 0;
    font-weight: 600;
    color: #4c4c4c;
  }

  h3 {
    color: $text-color;
  }

  .blog__post-date {
    padding-bottom: 8px;
    font-size: .8em;
    color: #979797;
  }
}

.category-list {
  margin-top: 5px;
  margin-bottom:30px;

  a{
    color: #6A6969;
    font-weight: 100;
  }

  li {
    display: inline-block;
    border-bottom:1px solid #fff;
    padding: 3px 0px;
    margin: 3px 20px 3px 0;

    &:hover,  {
     border-bottom:1px solid #CBCBCB;
      color: #5E5E5E;
    }
  }

  .category-item__active {
      border-bottom:1px solid #CBCBCB;
      color: #5E5E5E;
  }
}

/* Blog post
   ========================================================================== */

.blog-post {
  padding-top: 110px;

  .blog-post__date {
    font-size: .8em;
    color: lighten($text-color, 30%);
    margin-bottom: 40px;
  }

  p {
      margin: 40px 0;
      line-height: 1.9;
      padding:0;

      a {
        text-decoration: none;
        background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
        background-repeat: repeat-x;
        background-size: 2px .1em;
        background-position: 0 1.07em;
      }
  }

  h1 {
    font-weight: 700;
    color: #4c4c4c;
    margin-bottom: 0px;
  }

  h2 {
    margin: 0 0 40px 0;
    font-weight: 600;
    color: #4c4c4c;
  }


  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  li {
    padding-left: 33px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    list-style: none;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  li::before {
    position: absolute;
    display: inline-block;
    width: 78px;
    padding-right: 13px;
    margin-top: -12px;
    margin-left: -78px;
    font-size: 32px;
    text-align: right;
    content: '\2022';
    box-sizing: border-box;
  }
  .codepen {
    margin: 20px 0;
  }

  iframe {
    margin: 20px 0 !important;
  }

}


/* Sobre
   ========================================================================== */

.sobre {
  @include element(img) {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-bottom: -80px;
    margin-left: auto;
    border-radius: 100%;
  }
  @include element(text) {
    padding: 120px 50px 50px 50px;
    background: #f4f4f4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  @include element(social) {
    background: #f4f4f4;
    li {
      padding: 30px 10px 0 0;
    }
    a {
      font-size: 1.4em;
      color: #77aeeb;
    }
  }
  @include element(info) {
    padding: 25px 50px 50px 50px;
    background: #fafafa;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    h3 {
      margin-top: 25px;
      font-weight: 600;
    }
    .item,
    .tags {
      padding-left: 30px;
    }
    b {
      font-weight: 600;
      color: lighten($text-color, 10%);
    }
    p {
      padding-top: 5px;
      margin-bottom: 0;
    }
    .tags {
      span {
        display: inline-table;
        padding: 0 5px;
        margin-bottom: 3px;
        font-size: .8em;
        line-height: 150%;
        color: $c-white;
        background: #99c0f6;
        border-radius: 3px;
      }
    }
    .conhecimentos  i {
      color: #2af8ad;
    }
    .formacao  i {
      color: #00bcd4;
    }
    .experiencia  i {
      color: #8f8e8e;
    }
    .interesses i {
      color: #f2a5a5;
    }
    .freelas i {
      color: #795548;
    }
  }

  padding-top: 120px;
  margin: 0 auto 50px auto;
  color: #3c3b3b;
  box-shadow: 0 0 72px -200px rgba(247,247,247,1);

  -webkit-box-shadow: 0 0 72px -200px rgba(247,247,247,1);
  -moz-box-shadow: 0 0 72px -200px rgba(247,247,247,1);
  @media (max-width: $screen-sm-max) {
    @include element(img) {
      width: 150px;
      margin-bottom: -75px;
    }

    @include element(info) {
      padding: 100px 35px 35px 35px;
    }
    @include element(text) {
      padding: 100px 35px 35px 35px;
    }
  }
  @media (max-width: $screen-xs-max) {
    @include element(img) {
      display: block;
      width: 120px;
      margin-right: auto;
      margin-bottom: -60px;
      margin-left: auto;
    }

    @include element(info) {
      padding: 70px 15px 15px 15px;
    }

    @include element(text) {
      padding: 70px 15px 15px 15px;
    }


    @include element(social) {
      text-align: center;
      li {
        padding: 20px 5px;
      }
    }
  }
}


.diamond {
  width: 46px;
  margin: 30px  auto 0 auto;
  transform: rotate(90deg);

  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(90deg); /* IE 9 */
  li {
    height: 1px;
    background: $c-white;
  }
  .d-0 {
    width: 2px;
    margin: 5px 24px;
  }
  .d-1 {
    width: 10px;
    margin: 5px 20px;
  }
  .d-2 {
    width: 20px;
    margin: 5px 15px;
  }
  .d-3 {
    width: 30px;
    margin: 5px 10px;
  }
  .d-4 {
    width: 20px;
    margin: 5px 15px;
  }
  .d-5 {
    width: 10px;
    margin: 3px 20px;
  }
  .d-6 {
    width: 2px;
    margin: 5px 24px;
  }
  &:hover {
    .d-1,
    .d-5 {
      background: #fcddab;
      transition: all .2s ease-in-out .1s;
    }
    .d-2,
    .d-4 {
      background: #fbcc7f;
      transition: all .2s ease-in-out .2s;
    }
    .d-3 {
      background: #ffba4b;
      transition: all .2s ease-in-out .3s;
    }
    .d-0,
    .d-6 {
      background: #fbe3bd;
      transition: all .2s ease-in-out .1s;
    }
  }
}

$c-tri: #202020;

.triangle {
  width: 46px;
  margin: 0 auto;
  li {
    height: 1px;
    background: $c-white;
  }
  .t-0 {
    width: 36px;
    margin: 5px 7px;
  }
  .t-1 {
    width: 20px;
    margin: 5px 15px;
  }
  .t-2 {
    width: 10px;
    margin: 3px 20px;
  }
  &:hover {
    .t-0 {
      background: lighten($c-tri, 10%);
      transition: all .2s ease-in-out .1s;
    }
    .t-1 {
      background: lighten($c-tri, 20%);
      transition: all .2s ease-in-out .15s;
    }
    .t-2 {
      background: lighten($c-tri, 30%);
      transition: all .2s ease-in-out .20s;
    }
  }
}


/* 12 meses 12 livos */
.anchor-destination {
  display: flex;
  margin-top: 80px;
  margin-bottom: 20px;
  background: $c-anchor;
  h2 {
    padding: 2px 7px;
    margin: 0;
    font-weight: 400;
    color: $c-white;
    letter-spacing: .1em;
  }
  a {
    padding: 3px 8px 0 8px;
    margin-left: auto;
    color: $c-white;
    background: darken($c-anchor, 10%);
    &:hover {
      color: darken($c-anchor, 20%);
    }
  }
}

.books-list p {
  margin: 10px 0;
}
