/**
 * Site header
 */
.site-header {
    width:100%;
    padding:10px 0 10px 0;
    background:#eee;
    border-bottom: double medium #ddd;

    @media (min-width: $screen-sm-max){
      bottom: 0;
      left: 0;
      position: fixed;
      text-align: left;
      top: 0;
      width: 250px;
      border-left: solid 1px #E9E9E9;
      padding: $spacing-unit 0;
    }
}

.site-title {
    text-align: center;
    font-family: "Lato","Helvetica",Helvetica,Arial,sans-serif;
    letter-spacing: 0.06em;
    a{
    color:#393939;
      font-size: 1.3em;
      line-height: 2.0em;
      &:hover{
        text-decoration: none;
      }
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.menu-paginas{
  text-align: center;
  a{
    display: block;
  }
}

.logo{
  background:url("../assets/img/avatar.png");
  width:120px;
  height:120px;
  border-radius:100%;
  margin:auto;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    @media (min-width: $screen-sm-max){
      margin-left: 270px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: 5px;
}

.post-title {
  a{
    font-family: "Lato","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 1.25rem;
    margin-top: 2.25rem;
    &:hover{
        text-decoration: none;
      }
  }
}

/**
 * Posts
 */
.post{
  .post-title{
    font-family: "Lato","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 2.0em;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 1.25rem;
  }
}

.post-content {
    margin-bottom: $spacing-unit;
    p{
      font-size: 1.2em;
    }
}

/* social*/

.social{
  height:32px;
  margin:0 10px;
  @media (min-width: $screen-sm-max){
    margin-top: 10px;
    border-top: double medium #ddd;
    border-bottom: double medium #ddd;
  }

  .content{
    text-align: center;
  }

  i{
    margin: 5px 0;
    padding:2px;
    font-size: 1.2em;

  }
}

.fa-google-plus{
  color: $google-plus;
    &:hover{
      color: lighten($google-plus, 10%);
      border-bottom: solid 2px $google-plus;
    }
  }

.fa-twitter{
  color:$twitter;
  &:hover{
    color: lighten($twitter, 10%);
    border-bottom: solid 2px $twitter;
  }
}
.fa-flickr{
  color: $flickr;
  &:hover{
    color: lighten($flickr, 10%);
    border-bottom: solid 2px $flickr;
  }
}
.fa-linkedin{
  color:$linkedin;
  &:hover{
    color: lighten($linkedin, 10%);
    border-bottom: solid 2px $linkedin;
  }
}
.fa-instagram{
  color:$instagram;
  &:hover{
    color: lighten($instagram, 10%);
    border-bottom: solid 2px $instagram;
  }
}
.fa-github{
  color:$github;
  &:hover{
    color: lighten($github, 10%);
    border-bottom: solid 2px $github;
  }
}

.fa-facebook{
  color:$facebook;
  &:hover{
    color: lighten($facebook, 10%);
    border-bottom: solid 2px $facebook;
  }
}

// social share post
.share-page {
    text-align: center;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-size: 1.1em;
        font-weight: 700;
        margin-left: 15px;
      }
}