@charset 'utf-8';
$background-menu: #3b3b3b;
$background-menu-active: #292929;
$color-font-menu: #818181;
$color-base: #7aa8a5;
$base-font-family: 'Raleway', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;
$spacing-unit: 20px;
$text-color: #3e3e3e;
$background-color: #fff;
$brand-color: $color-base;
$c-anchor: $color-base;
$content-width: 960px;
$screen-xs-max: 480px;  // Celular
$screen-sm-max: 768px;  // ipad vertical
$screen-md-max: 1024px;  // Ipad horizontal

$google-plus: #d34331;
$twitter: #1b86bc;
$flickr: #ff0085;
$linkedin: #1b86bc;
$instagram: #517fa4;
$facebook: #43609c;
$github: #000;


$c-header: #272727; // font color, active, hover

/* Main color */

$c-white: #fff;
$c-gray: #ddd;



// Mixins
@mixin element($element)
{
    &__#{$element}
    {
        @content;
    }
}

@mixin modifier($element)
{
    &--#{$element}
    {
        @content;
    }
}

//placeholder
