
// Mixins
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

@mixin modifier($element) {
  &--#{$element} {
    @content;
  }
}

@mixin size($w: null, $h:null, $dw:null, $dh:null) {
  @if ($w != null) {
    width: $w;
  }

  @if ($h != null) {
    height: $h;
  }

  @media (min-width: $screen-xs-max) {
    @if ($dw != null) {
      width: $w/$dw;
    }

    @if ($dh != null) {
      height: $h/$dh;
    }
  }
}

