---
layout: page
comments: true
---
<section class="inner-content">
  <section class="blog-post">
    <h1>{{ page.title }}</h1>
    <div class="blog-post__date">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%d" }}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Fev
        {% when '3' %}Mar
        {% when '4' %}Abr
        {% when '5' %}Mai
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Ago
        {% when '9' %}Set
        {% when '10' %}Out
        {% when '11' %}Nov
        {% when '12' %}Dez
       {% endcase %}
      {{ page.date | date: "%Y" }}

      {% if page.meta %}
        • {{ page.meta }}
      {% endif %}
    </div>

    <article class="blog-post__content">
      {{ content }}
    </article>

    <br>

    <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'jeremiaspereiranet';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </section>
</section>

<section class="footer">
  <p>Copyright © 2016 Jeremias Pereira. Designed by me</p>
</section>

<script type="text/javascript">
  document.getElementById("menu-blog").className = "active";
</script>